@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
/* common */
:root {
    --orange: #E8630A;
    --bg-grey: #FAFAFA;
    --grey: #E3E3E3;
    --danger: #ff412d;
    --success: #198754;
    --blue: rgb(55, 156, 251);
    --border-color: #EDEDED;
    --green: #5C9E70;
    --litegreen: #90BC9D;
    --dark: #5C5C5D;
    --black: #262627;
    --dark-blue: #2c62a8;
    --lite-blue: #E5ECF7;
    --text-dark: #4D4D4D;
    --text-grey: #888888;
    --darkhover-blue: #3972bd;
    --darkactive-blue: #194e94;
    --darkhover-green: #81b99f;
    --purple: #BC61F5;
    --violet: #b37c;
    --orange2: #DF6252;
    --orange3: #e56e5f;
    --orange4: #f38d7f;
    --orange-white: #FFCDC5;
    --whitelow: rgb(255, 255, 255, 0.5);
    --rose: rgb(230, 157, 194);
}


.font18{
    font-size: 18px !important;
  }
  
  .font22{
    font-size: 22px !important;
  }
  
  .font16{
    font-size: 16px !important;
  }
  
  .font17{
    font-size: 17px !important;
  }
  
  .font20{
    font-size: 20px !important;
  }
  
  .font14{
    font-size: 14px !important;
  }
  
  .font15{
    font-size: 15px !important;
  }
  
  .font12{
    font-size: 12px !important;
  }
  
  .font10{
    font-size: 10px !important;
  }
  
  .font11{
    font-size: 11px !important;
  }
  
  .font13{
    font-size: 13px !important;
  }
  
  .font32{
    font-size: 32px !important;
  }
  .font40{
    font-size:40px !important
  }
  .font24{
    font-size:24px !important
  }
  
  .font37{
    font-size:37px !important
  }

  .font65{
    font-size:65px !important
  }

  .paddingx4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
  }

  .paddingx5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }

  .paddingx6 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }

  .paddingy5 {


    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }

  .marginy5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
  }


body {
    background-color: #000;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    font-size: 15px ;
    color: #eae8e4;

}


.box
{
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
        padding: 24px;
        border-radius: 4px;
}

.aboutme {

  font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.aboutdesc {
  color: #eae8e4;
  margin-right: 100px;
}


.choice-badge
{
  color: var(--black);
  padding: 5px 10px;
  border-radius: .2rem;
  background-color: var(--rose);
    font-size: 12px !important;
    font-weight: 600;
    margin-right: .3rem;
}

#contentRows::-webkit-scrollbar {
    width: 0px !important;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px !important;
}

.logo {
    height: 70px;
    cursor: pointer;
}

.text-break-on {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.verticle-middle {
    vertical-align: middle;
}

.dropdown-menu {
    border: 1px solid rgb(183 183 183 / 15%);
}

.overflow-hidden {
    overflow: hidden;
}

ul li {
    list-style: none;
}

p {
    margin-bottom: 0px !important;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

/**********  Home  ******/

.headersection { background-color : #18181A; }

.bannersection { background-color: #0A0A0A!important;  }


.navbar-dark .navbar-nav .nav-link { color: #ffffff;}

.navtext { text-transform: uppercase; margin-right: 40px; font-size: 15px; font-weight: 700;  }


.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #ff412d;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {  color: #ff412d; }


.bannercolor { padding:100px 50px ; }

.bannercolor h1,.bannerenrollcolor h1 { font-size: 80px; font-weight: 700; margin-bottom: 40px; line-height: 1; letter-spacing: -.04em; }

.bannercolor div{margin-bottom: 16px; font-size: 24px; line-height: 1.1;}

.btn-large { margin-top: 64px; text-transform: uppercase; background-color:var(--danger); border-radius: 12px; padding: 20px 32px; font-size: 14px; font-weight: 700; display: inline-block; transition: background-color .4s cubic-bezier(.23, 1, .32, 1); }

.profiledescription {
    font-size: 16px; font-weight: 500; line-height: 1.6;  
}

.profiledescriptionspace > div img {width: 87%;
 
  border-radius: 20px;
  margin-bottom: 57px;}

  .profilesection { background-color: #232027; }


.profiledescriptionspace { padding-left: 3rem!important; padding-right: 3rem!important; }


video {
    width: 100%;
    max-height: 100%;
}

.learningsection {background-color: #18181A;}

.learningsection  .card {
    border: none;
    border-radius: 20px;
}

.learningsection .card img {border-radius: 18px 18px 0px 0px;}

.learning { color: var(--danger); letter-spacing: -.04em; line-height: 1; font-size: 64px; font-weight: 700; text-transform: uppercase;
    margin: 100px 0px; text-align: center;
 }

  .card {background-color: #232026;}

 .cardhome {font-size: 24px; line-height: 1.1; letter-spacing: -.04em; font-weight: 700; text-transform: uppercase; margin-top: 20px; margin-bottom: 20px; margin-left: 10px;}

 .carddesc { color: #938c9a; font-size: 16px; line-height: 1.6; display: block; margin-left: 10px;  }

 .startl { margin-top: 100px; text-transform: uppercase; font-size: 21px;  text-align:center; font-weight: 200;}

 .btn-entroll {  background-image: none; border-radius: 12px; text-align:center; padding: 16px 72px;
    font-size: 22px; display: inline-block; background-color:var(--danger);  letter-spacing: -.04em; line-height: 1; font-weight: 700;  margin-bottom: 100px; transition: background-color .4s cubic-bezier(.23, 1, .32, 1);  }

 .footer { font-size: 16px; font-weight: 500; }

 .footersection {  background-color: #0A0A0A;  }

 .learningsection .card img {  max-width: 100%; }

 .learningsection .card-body { min-height: 230px; }

 .signcolor { color: #938c9a!important; text-decoration: none;  }

 .signd > a:nth-child(1){
  margin-right: 6px;
 }

 .signd > a:nth-child(2){
  margin-left: 6px;
 }

/********* End Home ***************/


.btn-tab2 {  background-color: #232027; color: #ffffff; font-size: 15px;
    font-weight: 700; border-radius: 0px 15px 15px 0px;  }

.btn-tab1 {  background-color: #232027; color: #ffffff; font-size: 15px;
        font-weight: 700; border-radius: 15px 0px 0px 15px;  }

.learningcoursesection .active { background-color:var(--danger); }

.learningcoursesection { background-color: #141316; padding-bottom: 55px; }


.learningcoursesection  .card {
    border: none;
    border-radius: 20px;
}

.learningcoursesection .card img {border-radius: 18px 18px 0px 0px;}
    
.learningcoursesection .card img { max-width: 100%;}

.cardcourse { font-size: 25px; line-height: 1.1; letter-spacing: -.04em; font-weight: 700;  margin-top: 20px; margin-bottom: 20px; margin-left: 10px; text-align: center; 
  
}

.btn-course-large { margin-top: 25px; margin-bottom: 25px; background-color:var(--danger); border-radius: 12px; padding: 14px 32px; font-size: 22px; font-weight: 700; display: inline-block; transition: background-color .4s cubic-bezier(.23, 1, .32, 1);   }

.price { font-size: 42px;
    font-weight: 700;}

    .learningcoursetab .btn:hover { color: #fff;}

 /************ Course Detail ******************/   

.btn-enroll-large { margin-top: 80px; background-color:var(--danger); border-radius: 12px; padding: 11px 47px; font-size: 28px; font-weight: 700; display: inline-block; transition: background-color .4s cubic-bezier(.23, 1, .32, 1); }


.bannerenrollcolor { background-color: #0A0A0A!important; padding:148px 50px ; }

.learningmedium {  text-transform: none;  }

.pricesection { background-color: #0A0A0A; }

.courseprice {  font-size: 64px;
    font-weight: 700; }

.fontjourney { font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 30px; }

.coursedetailbox { background-color: #0A0A0A;
    width: 100%;
    border-radius: 13px;
    height: 500px;  }

.text-transform-none { text-transform: none;  }

.cabouttitle { letter-spacing: -.04em; font-size: 57px;
    font-weight: 700;
    line-height: 1; 
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 51px;
  }

  .coursecurriculumtitle { letter-spacing: -.04em; font-size: 57px;
    font-weight: 700;
    line-height: 1; 
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 51px;
  }

.learningsection .spacecourse { margin-left: 16px; }

.learningsection .spacedesc { margin-left: 16px; }

.caboutdesc {font-size: 18px;}


.coursecurriculumsection { background-color: #181719; border-top: #393440 1px solid; border-bottom: #393440 1px solid; }

.studentsection {  background-color: #18181A; }

.lessonlist {margin-top: 75px;
  margin-bottom: 60px;
  background-color: #141316;
  border-radius: 8px;
  
  padding-top: 17px;
  
 
}

.downarrow { 
  display: flex;
    justify-content: center;
    padding: 16px 39px;
 }

 .downarrow img { width: 48px; }

.lessonlist p {  
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.lessoninnerlist {
  border-bottom: 1px solid #3D3D3D;
    background-color: #232026;
    padding: 15px 35px;
    cursor: pointer;
}

.lessoninnerlist img {
  
  width: 28px;
  margin-top: 8px;
}

.lessoninnerlist:hover {
  background-color: #433a4e;
}

.lessoninnerlist div {
  margin-left: 29px;
  font-size: 24px;
  align-items: center;
  display: flex;
 
}

.downarrow > [aria-expanded=true] img{
  transform: rotate(180deg);
}

.downarrow .btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}


.footer  {   

    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.footeruse {
    display: flex;
    justify-content: end;
    margin-right: 3rem!important;
}

.footerleft {margin-left: 3rem!important}



.cousepricespace  {padding: 1.5rem!important;}


.ratingbox { background-color: #232027;  border-radius: 18px;
  padding: 26px;
  margin-bottom: 24px;}

  .ratingcontent { margin-top: 20px; }

 

.rating__star {font-size: 24px;}

.rating__star {
  cursor: pointer;
  color: #F9E338;
}


/************ Course End Detail ******************/

/************* lesson detail *********************/

.plesson  img { width: 13px;
  margin-right: 6px;
  transform: rotate(86deg);  }

  .plesson span {
    border-left: 1px solid #595759;
    padding-left: 11px
  }

  .nlesson span {
    border-right: 1px solid #595759;
    padding-right: 11px
  }


  .nlesson img {
    width: 13px;
   
    margin-left: 11px;
    transform: rotate(-92deg);
    margin-top: -2px;

  }

.bi-house-door-fill::before {
  font-size: 54px;
    color: #666666;
}

.lessonheaderleft {
 
   
   display: flex;
    align-items: center;
  width: 20.9%;
}

.lessonheaderleft img {
  width: 75%;
}

.pad0 img {
  width: 45px;
}

.lessonheaderright { height: 100%; width: 79.1%; }

.lessonheaderright > div {   font-size: 17px; color: #f1f1f1; }

.complesson span { margin-left: 5px;  }

.lbtn { 

  background-color: #2f2c30;
    padding: 6px 40px;
    border-radius: 21px;
}

.lessonheaderright > div:nth-child(4) {   border-right:none; }

.lessonheaderright > div:nth-child(1) { display: flex;
  justify-content: center;
  align-items: center;}

  .lessonheaderright > div:nth-child(2) {  
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 61px;

  }

  .lessonheaderright > div:nth-child(3) {  
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

  .lessonheaderright > div:nth-child(4) {  
    display: flex;
    align-items: center;
    justify-content: end;
    
    

  }

  .lessonbodyleft {
    border-right:1px solid #332e3a;
  }

  .courseoutlinetext {
    padding: 17px 27px;
    font-size: 20px;
    border-bottom: 1px solid #332e3a;
    display: flex;

  }

 .courseoutlinetext div {
  margin-left: 13px;
   
 }



 .interactive {
  font-size: 27px;
    font-weight: 700;
    margin-top: 97px;
    margin-bottom: 25px;
 }


  .courseoutline {
    padding: 21px 27px;
    font-size: 23px;
    font-weight: 700;
    border-bottom: 1px solid #232026;
  }

    .courseoutlinetext > div > input[type=radio] {
    appearance: none;
    background-color: #232027;
    width: 25px;
    height: 25px;
    border: 2px solid #232027;
    border-radius: 12px;
    display: inline-grid;
    place-content: center;
   
  }

  .courseoutlinetext > div > input[type=radio]::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(1);
    transform-origin: bottom left;
    background-color: #504D54;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

.courseoutlinetext > div > input[type=radio]:checked::before {
    transform: scale(1);
    background-color: black;
}
.courseoutlinetext > div > input[type=radio]:checked{
    background-color:   #ff412d;
    border: 2px solid #ff412d;
} 



  .bi-person-fill::before {
    background: black;
    border-radius: 50%;
    overflow: hidden;
    font-size: 50px;
  }

.lessonheadersection {
  background-color: #232027;
  border-bottom: 1px solid #332e3a;
  position: fixed;
}

.lessonbodysection {
  background-color: #0f0f0f;
}

.lessonbodyleft {background-color: #181719;}

 .ld-course-navigation-list { height: 80%;  } 

.ld-course-navigation-list > .side  {height: 700px; overflow-y: auto;}

.ld-course-navigation-list > .side::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.ld-course-navigation-list > .side::-webkit-scrollbar-track {
  background: #232026;        /* color of the tracking area */
}

.ld-course-navigation-list > .side::-webkit-scrollbar-thumb {
  background-color: #666666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #232026;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #232026;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #232026;  /* creates padding around scroll thumb */
}

.courseoutlinetext:hover {
  background-color: #232026;
  cursor: pointer;
}


.sidebarheader {
  background-color:   #ff412d;
}

.sidebarheader {
  font-size: 23px;
  font-weight: 700;
}

.lessonleft {
  padding:10px 10px 10px 27px;
}

.btn-lesson-large { margin-top: 25px; margin-bottom: 25px; text-transform: uppercase; background-color:var(--danger); border-radius: 25px; padding: 6px 32px; font-size: 22px; font-weight: 700; display: inline-block; transition: background-color .4s cubic-bezier(.23, 1, .32, 1);   }

.intercomplete { 
  display: flex;
   
    justify-content: start;
    margin-top: 96px;
}

.right-arrow .btn {
  position: relative;
    left: 29px;
    top: 23px;
}

.offcanvas {
  visibility:visible!important;
  background-color:#141316;
}

.lessonbodyleft {
  position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 415px;
    
   
    transition: all 0.3s ease;
    z-index: 99;
}



.offcanvas-start {
  top:64px;
}

.ld-focus-main {
  margin-top: 50px;
  flex: 1 auto;
    margin-left: 415px;
    width: calc(100% - 450px);
    transition: margin-left 0.3s ease;
}

.lessondetailtitle {
  padding-left: 3rem;
    padding-right: 3rem;
}

.ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
  padding-left: 190px;
    padding-right: 190px;
}

.ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
  padding-left: 226px;
    padding-right: 208px;
}

.ld-focus-sidebar-collapsed > .lessonbodyleft{
  background-color: transparent;
    transform: translateX(calc(-100% + 50px));
}

.ld-focus-sidebar-collapsed > .lessonbodyleft > .sidebarheader > .d-flex > .right-arrow > .btn img {
  transform: rotate(180deg);
}

.ld-focus-sidebar-collapsed > .lessonbodyleft > .ld-course-navigation-list {
  opacity:0;
}

.ld-focus-sidebar-collapsed > .ld-focus-main  {
  margin-left: 50px;
  width: calc(100% - 50px);
}

.ld-mobile-nav {
  display: none;
}

.border-gray-bottom {
  border-bottom: 1px solid #332e3a;
}

.dropdown-menu {
  background-color: #232027;
  padding: 0px;
}

.dropdown-menu li a{
  color: #f1f1f1;
   
    font-size: 18px;
    padding: 6px 20px;
}

.mycourse img {
  width: 24px;
    margin-right: 8px;
}
.myaccount img {
  width: 16px;
    margin-right: 13px;
    margin-left: 1px;
}
.logout img {
  width: 16px;
  margin-right: 14px;
  margin-left: 2px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffff;
    background-color: #ff412d;
}

.lessonfile li {
  list-style: disc;
  padding: 7px 0px;
}



.lessonfile {
  margin-left: 20px;
}

.lessonfile a {
  color: #fff;
  text-decoration: none;
    padding-left: 41px;
}

.interlesson {
  font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 25px;
}

.lfile li {padding: 0px;}

.inlession span { 
  color: #ff412d;
}

.lessonfile {font-size: 17px;}

.inlession {font-size: 17px;}

.courseoutlinetext img {width: 26px;}

.completed img:nth-child(2),.completed img:nth-child(3) { display: none;  }

.lactive  img:nth-child(1),.lactive img:nth-child(3) { display: none;    }

.lactive  {  background-color: #232026;}

.inactive img:nth-child(1),.inactive img:nth-child(2) { display: none;  }

.completecontinue {
  height: 39px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0 30px;
    border-color: #232027;
    color: #666666;
    margin-bottom: 15px;
}

#dropdownMenuButton1 {width: 100%;}

#dropdownMenuButton1 span{display: none;}

.profileinfo {display: flex;

}

.dropdown-menu { transform: translate3d(66px, 70px, 0px)!important; }

.profilename { color: #f1f1f1; font-size: 20px;}

.profileinfo { padding: 12px 18px; }

.profileicon { width: 7%!important;
  padding: 3px;
  margin-right: 12px;}

  .profilearrow {width: 11%!important;
    padding: 8px;}

/************* end Lesson detail *****************/



/*************** Login  ************************/


.needaccount {
  color: #000;
    padding-bottom: 27px;
    border-bottom: 1px solid #b2b2b2;
}

.needaccount > span {
  color: var(--danger);
}

.signin {
  font-size: 24px;
    color: #000;
    font-weight: 500;
    margin: 20px 0px 50px 0px;
}

.loginleft {
  text-align: center;
  display: flex;
  align-items: center;
    background-color: #101415;
}

.loginright {
  background-color: #f2f2f2;
}

.loginleft img { width: 32%;  }

.footersecion {
  background-color: #0a0a0a;
  display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 46px;
}

.form-label {
  color: var(--black);
  margin-left: 12px;
}

.form-control {
  border-radius:6rem;
  border:1px solid #b2b2b2;
  height: 55px;
  padding-left: 19px;
}

.form-check-label {
  color: #6d6d6d;
  width: 110%;
}

.form-check {
  padding-left: 2rem;
}

.btn-login {
  padding: 13px 71px;
    border-radius: 30px;
    background-color: var(--danger);
}

.login-btn {text-align: center; margin-top: 70px;}

.login-btn  div { color: #939393; margin-top: 31px;}

.straight-line {   border-bottom: 1px solid #939393; /* You can adjust the color, thickness, and style as needed */
  width: 100%; /* This makes the line span the entire width of its container */
  display: block; /* Ensures it behaves like a block-level element, filling the width of its container */
  margin: 10px 0; }

  .straight-line span {

    position: relative;
    right: 10px;
    top: 10px;
    background-color: #f2f2f2;
    padding: 0px 10px;
  }

  .loginbox {
    padding: 132px 200px;
  }

  .signupbox {
    padding: 130px 234px;
  }

  .rightc {
    color: #939393;
    margin-left: auto;
  }

  .socialicon, .socialsignupicon { margin-top: 50px; text-align: center;}

  .socialicon img, .socialsignupicon img {width: 19%;
    border: 1px solid #b2b2b2;
    border-radius: 28px;
    padding: 9px 28px;
    margin-right: 29px;
  }

 

 .loginsecion {height: 90vh;}


/*************** End login   ************************/




@media (max-width: 2600.98px) { 
    .cousepricebox { padding: 0 3rem;  margin-bottom: 3rem; }

    

   

    .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
      padding-left: 343px;
    padding-right: 208px;
    }

    .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
      padding-left: 303px;
      padding-right: 208px;
    }

    .profileicon {
      width: 7%!important;
      padding: 6px;
      margin-right: 12px;
  }
    
  .profilearrow {
    width: 9%!important;
    padding: 12px;
}

.loginbox {
  padding: 193px 338px
}

.socialsignupicon img {
  padding: 12px 35px;
  width: 15%;
}



.form-control {
  height: 70px;
}

 }

 @media (max-width: 2200.98px) { 
  
  .paddingx5 {
     padding-right: 3rem!important;
     padding-left: 3rem!important;
   }

   .lessonheaderleft {
    width: 7%;
   }

   .lessonheaderright {
    width: 93%;
   }


   .profileicon {
    width: 7%!important;
    padding: 3px;
    margin-right: 12px;
}
  
.profilearrow {
  width: 9%!important;
  padding: 8px;
}

.loginbox {
  padding:193px 234px
}

.socialicon img {
  width: 18%;
}

.socialsignupicon img {
  width: 15%;
}

.form-control {
  height: 55px;
}
 
 }

 @media (max-width: 1440.98px) { 
  
 .paddingx5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }

  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
    padding-left: 5px;
      padding-right: 5px;
  }
  
  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
    padding-left: 48px;
      padding-right: 42px;
  }

  .profileicon {
    width: 7%!important;
    padding: 3px;
    margin-right: 12px;
}
  
.profilearrow {
  width: 12%!important;
  padding: 8px;
}

.loginbox {
  padding: 132px 116px;
}

.signupbox {
  padding: 130px 91px;
}

.socialsignupicon img {
  width: 20%;
}

.form-control {
  height: 55px;
}


}

 @media (max-width: 1199.98px) { 


  .logo {
    margin-left: -20px;
    height: 70px;
   
}

    .learning { font-size: 47px;  }

    .cardcourse { font-size: 25px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important; }


        .cabouttitle {
            font-size: 42px;
        }

        .coursecurriculumtitle { 
          font-size: 42px;
        }

        .font32 {
          font-size: 29px !important;
      }

      .font65 {
        font-size: 52px !important;
      }

      .aboutdesc {
    
        margin-right: 0px;
      }

      .lessonheaderright > div {
        font-size: 17px;
      }

      .plesson span {display: none;}
      .nlesson span {display: none;}

      .interactive {
        margin-top:63px;
      }


      .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
        padding-left: 5px;
          padding-right: 5px;
      }
      
      .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
        padding-left: 48px;
          padding-right: 42px;
      }

      .profileicon {
      
        padding: 0px;
       
    }

    .profilename {
      color: #f1f1f1;
      font-size: 16px;
  }
  .profilearrow {
    width: 16%!important;
    padding: 8px;
}

.loginbox {
  padding: 132px 31px;
}

.complesson span {
  display: none;
}

.signupbox {
  padding: 130px 18px;
}

.socialsignupicon img {
  width: 23%;
}

.form-control {
  height: 55px;
}
    
  }

 @media screen and (max-width: 991px){ 

  .completecontinue { height: 59px; }

  .logo {
    margin-left: -20px;
    height: 70px;
   
}

  .navbar-nav { margin-top: 38px;  }

    .signcolor { margin-left: -34px; }

    .bannercolor h1, .bannerenrollcolor h1 {  font-size: 64px; }

    .profiledescription { 
        font-size: 20px;
     }

     .learning { font-size:32px; margin: 58px 0px; }

     .btn-entroll { padding: 15px 65px; font-size: 25px;  }

     .cardcourse { font-size: 38px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important; }


    .bannerenrollcolor { padding: 148px 4px; }

    .cabouttitle { display: flex; justify-content: center; margin-top: 22px; font-size: 35px; margin-bottom: 61px;  }
    
    .coursecurriculumtitle { display: flex; justify-content: center; margin-top: 22px; font-size: 35px; margin-bottom: 61px;  }

    .lessonlist p { font-size: 20px;}

    .lessoninnerlist div { font-size: 18px; }

    .lessoninnerlist img { width: 47px; }
  

    .font32 {
      font-size: 29px !important;
  }

  .font65 {
    font-size: 55px !important;
}


.profiledescriptionspace > div img {width: 100%;  }

.aboutdesc {
    
  margin-right: 0px;
}

.downarrow img {
  width: 38px;
}

.lessonheaderright > div { font-size: 16px;}

#dropdownMenuButton1 img { width: 30px;}

.plesson span {display: none;}

.nlesson span  {display: none;}

.complesson span {display: none;}

.lessonbodyleft {
  top: 0px;
    padding-top: 0;
    z-index: 1000;
    position: absolute;
}

.ld-focus-sidebar-collapsed  > .lessonbodyleft {
  transform:  translateX(-100%);
}

.ld-focus-sidebar-collapsed  > .lessonbodyleft > .sidebarheader > .d-flex > .right-arrow > .btn {
  display: none;
}

.ld-focus-sidebar-collapsed > .ld-focus-main {
  margin-left:0px;
}

/* .lessonheaderleft img {display: none;} */

.ld-mobile-nav {
  display: block;
}

.ld-mobile-nav span {
  display: block;
    width: 25px;
    height: 1px;
    margin: 5px 0;
    background-color: #fff;
    transition: all ease-in-out 250ms;
}

.interactive {
  font-size:25px;
  margin-top:79px;
}

.ld-focus-main {
  margin-left:0px;
  width: 100%;
}

.ld-course-navigation-list, .lessonbodyleft{
  background-color: #18181A;
}

.lessonheaderleft a {
  position: absolute;
    left: 70px;
}

.ld-course-navigation-list { height: 130%;  }

.ld-course-navigation-list > .side {height: 700px; overflow-y: auto;}

.signcolor { margin-left: 0px;  text-decoration: none; }

.signd { margin-top: 10px;  margin-left: -32px;}

.ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
  padding-left: 5px;
    padding-right: 5px;
}

.ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
  padding-left: 48px;
    padding-right: 42px;
}

#dropdownMenuButton1 span{display: block;}

.profileinfo {display: none;}

.dropdown-menu {transform: translate3d(-11px, 51px, 0px)!important;}

.loginbox {
  padding: 132px 116px;
}

.loginleftcenter {
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: 167px
}

.lbtn {
  padding: 6px 12px;
}

.loginsecion {height: 140vh;}

.signupbox {
  padding: 130px 95px;
}

.socialsignupicon img {
  width: 18%;
}

.form-control {
  height: 55px;
}


  }

  @media screen and (max-width: 479px) {

    .logo {
      margin-left: -20px;
      height: 59px;
     
  }

    .navbar-nav { margin-top: 38px;  }

    .bannercolor h1, .bannerenrollcolor h1 {  font-size: 39px; }

    .bannercolor div {font-size: 20px;}

    .btn-large { width: 100%;  }

    .bannercolor { padding: 100px 0px;}

    .profiledescriptionspace { padding-left: 0rem!important;
        padding-right: 0rem!important;
    }

    .profiledescription { 

        font-size: 18px;
     }

     .learning { font-size:28px; margin: 40px 0px; } 

     .cardhome { font-size: 20px;  }

     .startl { font-size: 16px;  }

     .btn-entroll { padding: 17px 78px; font-size: 19px;  }

   
        .footer { 

            padding-bottom: 4rem!important;
        }

        .footeruse {
            display: flex;
            justify-content: center;
            margin-right: 0rem!important;
        }
        .fespace { margin-top: 10px;}
        .footerleft { display: flex;
            justify-content: center;
            margin-left:0rem!important;
    }

    .cardcourse { font-size: 24px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important; }

        .btn-course-large {
            font-size: 16px;
        }

        .price {
            font-size: 33px;
           
        }

        .btn-course-large {
            padding: 14px 77px;
        }

        .cousepricespace  {padding: 0.5rem!important;}

        .bannerenrollcolor { padding: 148px 0px; }

        .btn-enroll-large {     padding: 9px 126px;
            font-size: 22px; }


            .paddingx5 {
                padding-right: 0.5rem!important;
                padding-left: 0.5rem!important;
              }

              .paddingy5 {


                padding-top: 0rem!important;
                padding-bottom: 0rem!important;
              }
    
              .paddingx4 {
                padding-right: 0rem!important;
                padding-left: 0rem!important;
              }

              .fontjourney { font-size: 19px; }

              .learningsection .spacedesc {
                margin-left: 0px;
            }

            .caboutdesc {
                font-size: 16px;
            }

            .learningsection .spacecourse {
                margin-left: 0px;
            }

            .cabouttitle {     font-size: 20px; 
                display: flex;
                justify-content: center;
                margin-top: 18px; 
            
            }

            .coursecurriculumtitle {     font-size: 25px; 
              display: flex;
              justify-content: center;
              margin-top: 18px; 
          
          }

            .marginy5 {
                margin-top: 0rem!important;
                margin-bottom: 0rem!important;
              }

              .learningsection .spacecourse {
                margin-left: 0px; 
           }

           .lessonlist {margin-top:37px;}

           .lessonlist p {  font-size: 20px; }
   
           .lessoninnerlist img {
             padding-left: 8px;
             width: 38px;
         }
   
         .lessoninnerlist div { font-size: 15px; }

         .font32 { font-size: 27px!important; }

         .font65 {
          font-size: 31px !important;
      }

     

    .cabouttitle {
      margin-bottom:54px;
      justify-content: start;
    }
    
    .coursecurriculumtitle{
      margin-bottom:54px;
      justify-content: center;
    }

    .profiledescriptionspace > div img {width: 100%;  }

    .aboutdesc {
    
      margin-right: 0px;
    }

    .downarrow img {
      width: 38px;
  }

  .lessoninnerlist {
    padding: 15px 10px;
  }

  .lessonheaderright > div:nth-child(2) {
    padding-right : 0px;
  }

  .lessonheaderright > div {
    font-size: 20px;
  }

  

  .intercomplete {
    justify-content: center;
    margin-top:0px;
  }
  .paddingx6 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }

  .pad0 {padding: 0px;}

  .dropdown { padding: 7px; }

  .cousepricebox { padding: 0 1rem;}

  .lessonheaderleft { width: 27%; }

  .lessonheaderright > div:nth-child(2) { justify-content: center;}

  .lessonheaderleft img {width: 60%;}

  .navtext { margin-right: 0px; }

 

  .signcolor { margin-left: 0px; padding-left: 8px; padding-right: 8px; text-decoration: none; }

  .signd { margin-top: 10px; margin-left: 0px; }

  .ld-course-navigation-list { height: 190%;  }

  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
    padding-left: 5px;
      padding-right: 5px;
  }
  
  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
    padding-left: 5px;
      padding-right: 5px;
  }

  #dropdownMenuButton1 span{display: block;}

  .profileinfo {display: none;}

  .lbtn  { padding: 6px 13px; font-size: 16px; }

  .dropdown-menu {transform: translate3d(-11px, 51px, 0px)!important;}

  .signd > a:nth-child(1){
    margin-right: 0px;
   }
  
   .signd > a:nth-child(2){
    margin-left: 0px;
   }

   .loginbox {
    padding: 132px 9px;
}

.socialicon img {
  width: 20%;
  padding: 9px 25px;
  margin-right: 26px;
 }

 .loginsecion {height: 140vh;}

 .signupbox {
  padding: 130px 7px;
}

.socialsignupicon img {
  padding: 12px 30px;
  width: 25%;
}
.form-control {
  height: 55px;
}
            
      }

  


  @media screen and (max-width: 390px) {

    .logo {
      margin-left: -20px;
      height: 59px;
     
  }

    .bannercolor h1, .bannerenrollcolor h1 {  font-size: 34px; }

    .bannercolor { padding: 100px 0px;}

    .cardcourse {
        font-size: 20px;
        margin-right: 0rem!important;
        margin-left: 0rem!important;
    }

    .btn-course-large {
        padding: 12px 49px;
    }

    .footeruse {
        display: flex;
        justify-content: center;
        margin-right: 0rem!important;
    }
    .fespace { margin-top: 10px;}

    .cousepricespace  {padding: 0.5rem!important;}

    .bannerenrollcolor { padding: 148px 0px; }

    .btn-enroll-large {     padding: 9px 96px;
        font-size: 22px; }

        .paddingx5 {
            padding-right: 0.5rem!important;
            padding-left: 0.5rem!important;
          }

          .fontjourney { font-size: 17px; }

          .paddingy5 {


            padding-top: 0rem!important;
            padding-bottom: 0rem!important;
          }

          .paddingx4 {
            padding-right: 0rem!important;
            padding-left: 0rem!important;
          }

          .learningsection .spacedesc {
            margin-left: 0px;
        }

        .caboutdesc {
            font-size: 16px;
        }

        .learningsection .spacecourse {
            margin-left: 0px;
        }
        
        .cabouttitle {     font-size: 20px;   margin-top: 0px; }

        .coursecurriculumtitle {     font-size: 25px;   margin-top: 0px; }

        .marginy5 {
            margin-top: 0rem!important;
            margin-bottom: 0rem!important;
          }

          .learningsection .spacecourse {
             margin-left: 0px; 
        }

        .navbar-nav { margin-top: 38px;  }

        .lessonlist {margin-top:37px;}

        .lessonlist p {  font-size: 20px; }

        .lessoninnerlist img {
          padding-left: 8px;
          width: 38px;
      }

      .lessoninnerlist div { font-size: 15px; }

      .font32 { font-size: 26px!important; }

      .font65 {
        font-size: 29px !important;
    }

    .profiledescriptionspace > div img {width: 100%;  }

    .aboutdesc {
    
      margin-right: 0px;
    }

    .downarrow img {
      width: 38px;
  }

  .lessoninnerlist {
    padding: 15px 10px;
  }

   
 
  .intercomplete {
    justify-content: center;
    margin-top:0px;
  }

  .paddingx6 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }

  .pad0 {padding: 0px;}
      
  .dropdown { padding: 7px; }

  .cousepricebox { padding: 0 1rem;}

  .lessonheaderleft { width: 31.9%; }

  .lessonheaderright > div:nth-child(2) { justify-content: center;}

  .lessonheaderleft img {width: 60%;}

  .navtext { margin-right: 0px; }

  .signcolor { margin-left: 0px; padding-left: 8px; padding-right: 8px; text-decoration: none; }

  .signd { margin-top: 10px; margin-left: 0px; }

  .ld-course-navigation-list { height: 190%;  }

  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailvideo {
    padding-left: 5px;
      padding-right: 5px;
  }
  
  .ld-focus-sidebar-collapsed > .ld-focus-main > .lessondetailtitle {
    padding-left: 5px;
      padding-right: 5px;
  }

  #dropdownMenuButton1 span{display: block;}

  .profileinfo {display: none;}

  .lbtn  { padding: 6px 13px; font-size: 16px; }

  .dropdown-menu {transform: translate3d(-11px, 51px, 0px)!important;}

  .signd > a:nth-child(1){
    margin-right: 0px;
   }
  
   .signd > a:nth-child(2){
    margin-left: 0px;
   }

   .socialicon img {
    width: 23%;
    padding: 9px 25px;
    margin-right: 15px;
   }

   .loginsecion {height: 140vh;}


   .socialsignupicon img {
    padding: 8px 27px;
    width: 23%;
}

.form-control {
  height: 55px;
}
  }

 
